*{
    margin: 0px;
    font-family: Arial;
    border:border-box;
    background-color: black;
    /* box-sizing: border-box; */

}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
    margin: 0;
    background-color: black;
}


.navbar {
    height: 70px;
    background-color: #212323;
    color: rgb(238, 241, 243);
    display: flex;
    align-items: center;
    gap:2px;
    justify-content: space-evenly;
    padding: 20px;
    margin-right: 0%;
    width: 100%;
  


}

.nav-logo {
    border: 50%;
    
   

}


.border{
    /* border: 2px solid rgb(69, 69, 69); */
    background-color: #212323;
    /* font-size: 1.8rem; */
}
.border:hover{
    cursor: pointer;
    border-bottom: 2px solid white;
}

.home{
    border-radius: 50%;
    height: 40px;
    width: 40px;
    font-size: 1.8rem;
    padding: 10px;
    background-color: #151515;
    display: flex;
    justify-content: center;
    
}


.nav-search{
    display: flex;
    align-items: center;
    
    width: 770px;
    height: 35px;
    border-radius: 4px;
    justify-content: space-evenly;
   
    padding: 2px;
}



.search-input{
    width: 100%;
    font-size: 1.8rem;
    border: none;
    height:40px ;
}

.search-icon{
    width: 60px;
    background-color: black;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    font-size: 1.8rem;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
   
}

span{
    font-size: 0.8 rem;
}


.sign{
    font-size: 1.4rem;
    


}

/* .login{
    font-size: 1.6rem;
    border: 1px solid white;
    border-radius: 40%;
    color: #151515;
    background-color: aliceblue;
    padding: 10px;
    
} */
.login{
    background-color: white;
   
    font-size: 1.6rem;
    border: 1px solid white;
    border-radius: 40%;
    color: #151515;
    
    padding: 10px;
}

.login:hover{
     transform: scale(1.1);       /* enlarge a little */
     
}


/* container */

.container{
    display: flex;
    margin: 20px;
    gap: 60px;
    flex: 1;
}

.left{
    width: 35vh;
    padding: 20px;
    /* position: fixed;
    top: 150px; */
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}




.right{
    width: 65vh;
    /* background-color:#212323 ; */
    /* top: 150px;
    left: 400px;
    position: absolute; */
    margin-top: 20px;
}

.lib{
    color: white;
    font-size: 1.2rem;
    background-color:#212323 ;
    width: 90%;
    padding: 10px;
    
}

.create{
    color: white;
    font-size: 1.2rem;
    background-color:#212323 ;
    width: 90%;
    padding: 10px;

}

.like{
    color: white;
    font-size: 1.2rem;
    background-color:#212323 ;
    width: 90%;
    padding: 10px;

}

.collection{
    color: white;
    font-size: 1.2rem;
    background-color:#212323 ;
    width: 90%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    

}

.collection p{
    font-size: 1.2rem;
    margin: auto;
    color: darkgray;
    background-color: #212323;

}

.bar{
    padding: 10px;
}
.bar:hover{
    border: 2px solid ghostwhite;
    cursor: pointer;
}

/* right box */
.trending{
    color: white;
    font-size: 1.6rem;
}

.songs{
    display: flex;
    gap: 10px;
}
.songs-card:hover{
    border: 2px solid grey;
    cursor: pointer;

}
a {
    text-decoration: none;
    color: inherit;
}




.song-card {
    position: relative;
    /* margin-right: 15px;
    border-radius: 10px; */
    /* overflow: hidden;
    cursor: pointer; */
}

/* .song-card img {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    display: block;
    transition: transform 0.3s ease;
} */

.song-card:hover img {
    transform: scale(1.05); /* little zoom effect */
}

/* Hidden play button */
.play-btn {
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #9292d6; /* Spotify green */
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transform: scale(0.8);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.play-btn i {
    color: white;
    font-size: 20px;
    background-color: #9292d6;
}


/* Show play button on hover */
.song-card:hover .play-btn {
    opacity: 1;
    transform: scale(1);
}

/* artist */
.popartist{
    margin-top: 50px;
    padding: 20px;
    color: white;
    font-size: 1.8rem;
}
.artistbox{
    display: flex;
    gap: 20px;
    padding: 10px;
    
    
}

.singer img{
    border-radius: 50%;
    border: 2px solid gray;
}

.singer{
    font-size: 1.2rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 10px;

}

.singer:hover{
    background-color: #4f4f4f;
}
 span :hover{
    cursor: pointer;

}

/* albums */

.abc{
    display: flex;
    font-size: 0.8rem;
    
}
.box:hover{
    border: 2px solid gray;
    transition: 2sec ease;
}



